In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [7]:
df = pd.read_csv('dataRumah.csv')
df

    luas  kamar  umur      harga
0    260    3.0    20  550000000
1    300    4.0    15  565000000
2    320    5.0    18  610000000
3    360    3.0    30  595000000
4    400    NaN    32  760000000
5    410    6.0    28  810000000
6    280    3.0    22  560000000
7    450    6.0    28  850000000
8    370    4.0    18  610000000
9    330    3.0    30  580000000
10   400    5.0    21  750000000
11   480    7.0    25  820000000

In [8]:
df.kamar.median()

4.0

In [9]:
df.kamar = df.kamar.fillna(df.kamar.median())
df

    luas  kamar  umur      harga
0    260    3.0    20  550000000
1    300    4.0    15  565000000
2    320    5.0    18  610000000
3    360    3.0    30  595000000
4    400    4.0    32  760000000
5    410    6.0    28  810000000
6    280    3.0    22  560000000
7    450    6.0    28  850000000
8    370    4.0    18  610000000
9    330    3.0    30  580000000
10   400    5.0    21  750000000
11   480    7.0    25  820000000

In [11]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('harga',axis='columns'),df.harga)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [12]:
reg.coef_

array([  561242.21655015, 48013266.77085426,  5589582.54743557])

In [13]:
reg.intercept_

122005883.82267177

In [22]:
float(reg.predict([[350, 4, 15]]))

594337464.9101748

In [23]:
561242.21655015*350 + 48013266.77085426*4 + 5589582.54743557*15 + 122005883.82267177

594337464.9101748

In [24]:
float(reg.predict([[250, 3, 2]]))

417535403.36764324